

body {
    font-family: 'Montserrat', sans-sherif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-repeat: no-repeat;
    height: 100vh;
    color: #555555;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0 20px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.card .percent {
    align-items: center;
    justify-content: center;
}

.card svg {
    position: relative;
    width: 210px;
    height: 210px;
    transform: rotate(-90deg);
}

.card svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 10;
    stroke-linecap: round;
}

.card svg circle:last-of-type {
    --percent : 5;
    stroke-dasharray: 625px;
    /* --percent controls percentage of progress bar */
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke: #5bb010; 
}

.card .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .number h3 {
    font-weight: 200;
    font-size: 3.5rem;
}

.card .number h3 span {
    font-size: 2rem;
}

.card .title {
    align-items: center;
    justify-content: center;
}

.card .title h2 {
    align-items: center;
    justify-content: center;
}